<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-8">
      <h1 class="display-5">My Redeemed Codes</h1>
      <p class="lead mb-0">Get quick access to all your redeemed codes whenever you need them.</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">When</th>
                  <th scope="col">What</th>
                  <th scope="col">Code</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">3 days ago</th>
                  <td>Apple Gift Code 20%</td>
                  <td>1378ht46</td>
                  <td><div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Mark as used</label>
              </div>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
      

