<div class="row pt-5 py-5 layer-2">
      <div class="container">
<div class="container">
        <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/manageteam">Manage Team</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Team Credit</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Team Credit <span class="medium"><i class="fa fa-diamond" aria-hidden="true"></i> 472 Available</span></h1>
      <p class="lead mb-0">This is where I can request more credit. See a history of all the credit that I distributed and recieved. And download any reports I need about my credit</p>
    </div>
  </div>
</div>

