<div class="row tiny">
      <div class="col col-md-12">
        <a class="m-1 btn btn-light collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
          Post Type
        </a>
        <a class="btn btn-light dropdown-toggle" data-toggle="" href="" role="button" aria-expanded="false" aria-controls="collapseExample1">
          Most recent <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <a href="#" class="btn btn-primary float-right">Create</a>

    
      </div>
    </div>


    <div class="row tiny">
      <div class="col col-md-8">
        <div class="collapse" id="collapseExample1" style="">
          <div class="card shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck6" type="checkbox">
                      <label class="custom-control-label" for="customCheck6">Announcement</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck7" type="checkbox">
                      <label class="custom-control-label" for="customCheck7">Recognition</label>
                      
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck8" type="checkbox">
                      <label class="custom-control-label" for="customCheck8">Poll</label>
                    
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck9" type="checkbox">
                      <label class="custom-control-label" for="customCheck9">Insights Feedback</label>
                      
                    </div>

                    
                </div>
              </div>
              <br>
              <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
              <a href="#" class="btn btn-primary float-right">Apply</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tiny">
      <div class="col col-md-5">

          <div class="collapse" id="collapseExample2" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Asos</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Apple</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Brand</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Etsy</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Google</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Holland &amp; Barret</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Brand</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
                                  <a href="#" class="btn btn-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>

      </div>
    </div>


     